<!DOCTYPE html>
<html lang="en">


<body>
    {{template "widgets/head.html" .}}

    <header>
        {{template "widgets/header.html" .}}
    </header>

    <div id="app">

        <form enctype="multipart/form-data" method="post" action="{{urlfor "UploadController.Upload"}}">
            <input type="file" name="file" />
            <input type="submit">
        </form>


    </div>


    <footer>
        {{template "widgets/footer.html" .}}
    </footer>


    <script type="text/javascript">
        

        let app = new Vue({
            el: '#app',
            data: {
                
            },
            delimiters: ['{[', ']}'],
            methods: {
                
            }
        });
    </script>
</body>

</html>